[data-automation-id="CanvasZone-SectionContainer"] {
    max-width: 150% !important;
}

.welcome-text {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3582c4;
    color: white;
    padding: 50px;
    border-radius: 0 0 50px 50px;
    overflow: hidden;
}

.Header-Text {
    max-width: 50%;
}

.Header-Text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.Header-Text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.image {
    position: relative;
    background-color: white;
    overflow: hidden;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.step-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: -30px;
}